<div class="max-w-5xl mx-auto mt-8">
  <div class="space-y-8">
    <form [formGroup]="connectForm" (ngSubmit)="submitForm()" class="card bg-base-100 shadow-xl p-4">
      <div class="grid grid-cols-1 gap-4">
        <div class="grid grid-cols-2">
          <input formControlName="titre" class="input input-bordered input-secondary w-full max-w-xs" type="" placeholder="Titre">
          <button type="submit" class="flex justify-self-end btn btn-secondary ">
            Envoyer
          </button>
        <textarea class="textarea textarea-bordered textarea-secondary mt-2" formControlName="contenu" placeholder="Contenue"></textarea>
        </div>
      </div>
    </form>
    <div *ngFor="let article of articles;" class="card bg-base-100 shadow-xl p-4">
        <div class="grid grid-cols-2">
          <div class="text-secondary text-xl">{{article.titre}}</div>
          <div class="flex justify-self-end" *ngIf="article.auteur">
            Ecrit par {{article.auteur}}
          </div>
        </div>
        <div class="mt-4 text-justify">
          {{article.contenu}}
        </div>
        <div *ngIf="userId?.toString() === article.id.toString()" class="flex space-x-4">
          <label for="my-modal-3" (click)="setUpdatedData(article.titre,article.contenu,article.id_article)" class="btn modal-button">Modifier</label>
          <input type="checkbox" id="my-modal-3" class="modal-toggle">
          <div class="modal">
            <div class="modal-box relative">
              <label for="my-modal-3" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
              <div class="grid grid-cols-1 gap-4">
                <input [(ngModel)]="titreUpdate" class="input input-bordered input-secondary w-full max-w-xs" placeholder="Titre">
                <input [(ngModel)]="idUpdate" class="input input-bordered input-secondary w-full max-w-xs hidden" placeholder="Titre">
                <textarea [(ngModel)]="contenuUpdate" class="textarea textarea-bordered textarea-secondary mt-2" placeholder="Contenue" value="{{article.contenu}}"></textarea>
                <button (click)="submitUpdate()" type="submit" class="flex justify-self-end btn btn-secondary ">
                  Mettre à jour
                </button>
              </div>
            </div>
          </div>
          <button type="submit" (click)="deleteArticle(article.id_article)" class="flex justify-self-end btn btn-secondary">
            Supprimer
          </button>
        </div>
        <div *ngFor="let commentaire of article.commentaire">
          <div *ngIf="commentaire.id_article === article.id_article" class="mt-4 p-8">
            <div class="text-secondary text-xl">{{commentaire.auteur}}</div>
            <div class="text-justify mt-2">
              {{commentaire.contenu}}
            </div>
            <div *ngIf="userId?.toString() === commentaire.id.toString()">
              <button type="submit" (click)="deleteCommentaire(commentaire.id_commentaire)" class="flex justify-self-end btn btn-secondary">
                Supprimer
              </button>
              <label for="my-modal-comment-update" (click)="setUpdateCommentData(commentaire.contenu,commentaire.id_commentaire)" class="btn modal-button">Modifier</label>
              <input type="checkbox" id="my-modal-comment-update" class="modal-toggle">
              <div class="modal">
                <div class="modal-box relative">
                  <label for="my-modal-comment-update" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
                  <div class="grid grid-cols-1 gap-4">
                    <textarea [(ngModel)]="commentaireUpdate" class="textarea textarea-bordered textarea-secondary mt-2" placeholder="Commentaire" value="{{article.contenu}}"></textarea>
                    <button (click)="submitUpdateComment()" type="submit" class="flex justify-self-end btn btn-secondary ">
                      Modifier
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <label for="my-modal-comment" (click)="setPostCommentData(article.id_article)" class="btn modal-button">Commenter</label>
      <input type="checkbox" id="my-modal-comment" class="modal-toggle">
      <div class="modal">
        <div class="modal-box relative">
          <label for="my-modal-comment" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
          <div class="grid grid-cols-1 gap-4">
            <textarea [(ngModel)]="commentToAdd" class="textarea textarea-bordered textarea-secondary mt-2" placeholder="Commentaire" value="{{article.contenu}}"></textarea>
            <button (click)="submitAddComment()" type="submit" class="flex justify-self-end btn btn-secondary ">
              Ajouter
            </button>
          </div>
        </div>
      </div>
      </div>
  </div>
</div>
