<div class="max-w-5xl mx-auto">
  <div class="overflow-x-auto">
    <table class="table table-zebra w-full">
      <!-- head -->
      <thead>
      <tr>
        <th></th>
        <th>Mail</th>
        <th>Pseudo</th>
      </tr>
      </thead>
      <tbody>
      <!-- row 1 -->
      <tr *ngFor="let user of users; let index = index;" (click)="goToUserPage(user.id)">
        <th>{{index+1}}</th>
        <td>{{user.email}}</td>
        <td>{{user.pseudo}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
